/* Background */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #212121;
}

/* Card */
.loginCard {
  width: 21rem;
  padding: 2rem;
  gap: 1.5rem;
  background: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}

.title {
  color: #f0f7ff;
  font-family: Righteous;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05rem;
}

/* Form */
.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* Input Fields */

/* Button */
.loginButton {
  width: 70%;
  padding: 0.1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2rem;
  background: #000000;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: 0.1875rem;
  color: #ffffff;
  font-family: Jaldi;
  text-align: center;
}
.loginButton:disabled {
  opacity: 0.5;
}

/* Remember Me */
.loginOptions {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.loginOptions label {
  cursor: pointer;
}
.checkBox {
  display: none;
}
.loginOptionsSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2rem;
  font-family: Barlow;
}
