.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  gap: .5rem;
  background-color: #ffffff;
  width: 22rem;
  text-align: center;
  position: relative;
}

.dropzone {
  border: 2px dashed #888;
  padding: 20px;
  text-align: center;
  place-content: center;
  border-radius: 8px;
  background: #fafafa;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  height: 6rem;
}

.dropzone.active {
  background: #f0fff0; 
}


.uploadContainerInput {
  width: 100%;
  padding: 0.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}

.uploadContainerBtn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: .6rem;
  border: none;
  border-radius: .625rem;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.uploadContainerBtn:hover {
  background-color: #45a049;
}
.uploadNote {
  display: block;
  color: red;
  font-size: 11px;
  margin-bottom: 4px;
}
