.parent {
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: #212121;
}

.roomInfo {
  background-color: #212121;
  padding: 1.5rem 2rem 1rem 2rem;
  display: flex; 
  width: 100%; 
  flex-direction: column; 
  overflow: auto;
  /* height: clamp(15vh, 17vh, 17vh); */
}
.roomInfoP {
  color: #fff;
  font-family: "PT Serif";
  font-size: 1.5rem;
  font-weight: 700;
  /* line-height: 1.7; */
}

.Studentlist {
  flex-grow: 1;
  padding: 1.5rem 2rem 0.5rem 2rem;
  border-top: 0.12rem solid rgba(245, 245, 245, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height:clamp(85vh, 83vh, 83vh); */
}

.filterBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 0rem 1.5rem 0rem;
  text-align: center;
  font-family: Roboto;
}
.filterBtn {
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border: 0.24rem solid white;
  background-color: white;
  /* opacity: .7; */
}
.filterBtnPresent {
  background-color: #5ca904;
  color: white;
  /* opacity: 1; */
}
.filterBtnAbsent {
  background-color: #ef0107;
  color: white;
  /* opacity: 1; */
}
.filterBtnUFM {
  background-color: #14bce1;
  color: white;
  /* opacity: 1; */
}
.filterBtnAll {
  background-color: #555555;
  color: white;
  /* opacity: 1; */
}

.searchBox {
  margin-bottom: 1.5rem;
  width: 100%;
}
.searchInputBox {
  border-radius: 0.6rem;
  border: 0.1rem solid #000;
  background: #ffffff;
  width: 100%;
  padding: 0.34375rem 1rem 0.3em 1rem;
  font-size: 1.2rem;
  color: #000000;
  outline: none;
  transition: background 0.3s ease;
  font-family: Barlow;
  font-weight: 500;
}
.searchInputBox::placeholder {
  color: #878787;
  font-family: Barlow;
  /* font-size: 0.75rem; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contentBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  max-height: 60dvh;
  overflow: auto;
}
.contentBox::-webkit-scrollbar {
  display: none;
}
.content {
  width: 100%;
  background-color: #323232;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.contentData {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.contentStatusBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentStatus {
  font-family: Barlow;
  padding: 0.2rem 0.3rem;
  margin-right: 0.8rem;
  border-radius: 0.3rem;
  background-color: rgb(255 255 255 / 26%);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  opacity: .9;
}
.contentStatuspresent {
  color: #00ff00b0;
  background-color: #00cf0042;
}
.contentStatusabsent {
  color: #c40202;
  background-color: #cd01014e;
}
.contentStatusufm {
  color: #14bce1;
  background-color: #14bce15c;
}
.noResults {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #777;
}
