.filterBarContainer {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}
.filtersContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.filterBlock {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.searchButton {
  background-color: #9a93e9;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-family: Roboto;
  font-weight: 500;
  color: white;
  cursor: pointer;
  font: revert;
}
.searchButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.downloadBtn {
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  border: none;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #4caf50;
}
.downloading,
.downloadBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
