.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* font-size: 1.4rem;
    color: #555; */
}
.logo{
    width: clamp(10rem,17vw , 15rem);
}

