.container {
  width: 95%;
  height: 95%;
  padding: 2.5rem 1rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomContent {
  width: 50%;
}
.detailsTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

.colorDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
.noData {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bfbfbf;
  font-size: 4rem;
  font-weight: 500;
}
/* .statusBox {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #666;
}

.errorText {
  color: #e53935;
  font-weight: 500;
} */

