.container {
  width: 80vw;
  max-height: 80vh;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.infoData{
    font-size: 1.2rem;
    font-weight: 600;
}
