.parent {
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: #212121;
  overflow: auto;
  position:relative;
}

/* User Info (Fixed at Top) */
.userInfo {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0rem 1.5rem 0rem;
}
.userName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2.5rem;
}
.userNameP {
  font-family: "Monomakh";
}
.img {
  width: 5rem;
  border-radius: 50%;
}
.text {
  text-align: center;
  font-size: 2.5rem;
}
.textP {
  font-family: Merriweather;
}

/* Work Section (Scrollable) */
.work {
  padding: 1.5rem 2rem;
  border-top: 0.12rem solid rgba(245, 245, 245, 0.708);
  display: flex;
  flex-direction: column;
  height: 100%; 
  overflow-y: auto;
  overflow-x: hidden;
}

.work::-webkit-scrollbar {
  display: none;
}

/* Content Box */
.contentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/* Content Items */
.content {
  width: 100%;
  background-color: #323232;
  border-radius: 0.6rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Data inside Content */
.contentData {
  display: flex;
  flex-direction: column;
  gap: .85rem;
}
.contentDataP {
  font-family: Roboto;
}

.noData {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
}
.logoutBtnBox{
  position: absolute;
  bottom: 2.1rem;
  right: 2.1rem;
}
.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  color: #000000;
  padding: 0.6rem .8rem .6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  border-radius: 3rem;
  border: none;
  gap: .7rem;
}
#logoutSpan{
  display: flex;
  align-items: center;
}