.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  user-select: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  color: #fff;
  padding: 2rem 2.2rem;
  border-radius: 0.9rem;
  border: 0.1rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 85%;
}

/* Student Detail Grid */
.detailsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem 1.2rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.detailRow {
  display: contents;
}

.inputField {
  background: #76767640;
  /* border-radius: 0.15rem 0.15rem 0rem 0rem; */
  border: none;
  border-bottom: 0.14rem solid white;
  padding: 0.3rem 0.5rem;
  color: white;
  font-size: 1rem;
  outline: none;
  width: 8rem;
}

.scanSheet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

.scanButton {
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0.1rem solid white;
}

.statusButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

.presentBtn,
.absentBtn,
.ufmBtn {
  background-color: #e4e4e4;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  color: #000000;
  font-size: 0.9rem;
  font-weight: bold;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.back,
.next {
  padding: 0.4rem 0.7rem;
  border: 0.094rem solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.back:disabled,
.next:disabled {
  border: 0.094rem solid #ffffff24;
  color: #ffffff24;
}
