.parent {
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: #212121;
}

.roomInfo {
  background-color: #212121;
  padding: 1.5rem 2rem 1rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.roomInfoP {
  color: #fff;
  font-family: "PT Serif";
  font-size: 1.5rem;
  font-weight: 700;
}

.Studentlist {
  padding: 1.5rem 2rem 0.5rem 2rem;
  border-top: 0.12rem solid rgba(245, 245, 245, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filterBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 0rem 1.5rem 0rem;
  text-align: center;
  font-family: Roboto;
}
.filterBtn {
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border: 0.24rem solid white;
  background-color: white;
}
.filterBtnPresent {
  background-color: #5ca904;
  color: white;
}
.filterBtnAbsent {
  background-color: #f44336;
  color: white;
}
.filterBtnUFM {
  background-color: #14bce1;
  color: white;
}
.filterBtnAll {
  background-color: #555555;
  color: white;
}

.searchBox {
  margin-bottom: 1.5rem;
  width: 100%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1rem;
  width: 100%;
}
.contentBox::-webkit-scrollbar {
  display: none;
}
.content {
  width: 100%;
  background-color: #323232;
  border-radius: 0.6rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.contentData {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.contentStatusBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentStatus {
  font-family: Barlow;
  padding: 0.3rem 0.8rem;
  margin-right: 0.8rem;
  border-radius: 2rem;
  background-color: #ffffff42;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.contentStatuspresent {
  background-color: #153921;
  color: #36dd87;
}
.contentStatusabsent {
  background-color: #441320;
  color: #d85577;
}
.contentStatusufm {
  background-color: #432e15;
  color: #edb348;
}
.noResults {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #777;
}
