.container {
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 0.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  color: #000;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.searchBox {
  display: flex;
  gap: 1.2rem;
}
.uploadData {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  border-radius: 2rem;
  border: 0.1rem solid #000;
  background: #fff;
  max-width: 22rem;
  max-height: 2.6rem;
  padding: 0.35rem 0.8rem;
  font-size: 1rem;
  color: #000000;
  outline: none;
  transition: background 0.3s ease;
  font-family: Barlow;
}

.searchInput::placeholder {
  color: #7a7878;
  font-style: italic;
  font-weight: 500;
}

.addButton {
  background-color: #736acf;
  font-family: Poppins;
  color: white;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease-in-out;
}

.addButton:hover {
  background-color: #0056b3;
}
.filterContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem 1rem 1.5rem;
}
.containerInside{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.filterInput{
  border: none;
  background-color: rgb(211, 211, 211);
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  font-family: "Poppins";
}
.searchButton{
  background-color: #9a93e9;
  border: none;
  border-radius: .4rem;
  padding: .5rem;
  font-family: Roboto;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.searchButton:disabled{
  opacity: .5;
  cursor:not-allowed;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid rgba(0, 123, 255, 0.3);
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: red;
}
#tableBoxAddon{ 
  max-height: 75dvh;
}
.tableBox {
  overflow: auto;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 84dvh;
}
.tableBox::-webkit-scrollbar {
  width: 0.6rem;
}

.tableBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.6rem;
}

.tableBox::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.6rem;
}

.tableBox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.9rem;
  border-bottom: 0.1rem solid #ddd;
  text-align: left;
  width: auto;
}
.table th:last-child,
.table td:last-child{
  width: 10%;
}
.table tr:hover{
  background-color: #f6f6f6;
}

.tableHeading {
  background: #9a93e9;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
}
.tableLayout1{
  border-top-left-radius:.8rem ;
}

.tableLayout3{
  border-top-right-radius:.8rem ;
}


.noData {
  text-align: center;
  font-style: italic;
  color: #777;
  padding: 1.5rem;
}
.deleteBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
