.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  gap: 1rem;
  background-color: #ffffff;
  width: 22rem;
  margin: 1.2rem auto;
  text-align: center;
  position: relative;
}

.uploadContainerInput {
  padding: 0.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}

.uploadContainerBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.uploadContainerBtn:hover {
  background-color: #45a049;
}
.uploadContainerBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.uploadContainerBtn:disabled::after {
  content: " ⏳";
}


.closeBtn {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-color: #333;
  color: white;
  padding: 0.4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
