*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  font-family: "Roboto", "Poppins";
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #212121;
}
.Toastify__toast {
  max-width: 90vw; /* Prevent overflow */
  margin: 1rem;
}
button:disabled{
  cursor: not-allowed;
}