.main{
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}
.inside{
    background: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}